h1 {
}

.bookmark {
  float: right;
}

.heartdiv {
  display: inline-block;
  vertical-align: top;
}

.heartdiv h4 {
  padding-left: 1em;
  float: right;
}

.thumbnail {
  border: 0;
}

.caption p {
  height: 100px;
  overflow: hidden;
}
